body {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: black;
  color: white;
}

#RGBkodMegjelenito {
  font-size: 150px;
}
#HEXkodMegjelenito {
  font-size: 100px;
}

#keveroFelulet {
  position: fixed;
  top: 0px;
  left: 0px;
  border-width: 1px;
  border-color: white;
  border-style: solid;
  padding: 10px;
  border-bottom-right-radius: 50px;
}

#keveroFelulet {
  position: fixed;
  top: 0px;
  left: 0px;
  border-width: 1px;
  border-color: white;
  border-style: solid;
  padding: 10px;
  border-bottom-right-radius: 50px;
}
