#igazito {
  margin: 0px auto;
  display: flex;
  justify-content: center;
}

.kocka {
  width: 100px;
  height: 100px;
  background-image: none;
  background-size: cover;
  background-position: center;
  border: none;
  display: inline-block;
  margin: 0 20px;
  box-shadow: none;
  border-radius: 15px;
}

#dobasContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.card {
  width: 220px;
  height: 120px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

body {
  background-color: rgba(108, 117, 125, 0.2);
}
